.infoIcon {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background-color: #ffffff;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .SVGflip {
    fill: black;
  }
}
.infoIcon:hover {
  background-color: #000000;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  .SVGflip {
    fill: white;
  }
}
